body{
    display: grid;
   
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
h1{
   margin-left: 20vw; 
}
h3{
    margin-left: 20vw;
}
img{
    height: 300px;
    width: 200px;
    border-radius: 0%;
    margin-left: 70em;
    margin-bottom: 200px;
}
